[package]
name = "backend"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1"
arc-swap = "1.6"
axum = "0.6"
clap = "4"
dotenv = "0.15"
sea-orm = { version = "0.12", features = ["sqlx-postgres", "runtime-tokio-rustls", "macros"] }
serde = { version = "1", features = ["derive"] }
serde_yaml = "0.9"
config = "0.13"
tokio = { version = "1", features = ["full"] }
tower-http = { version = "0.5", features = ["trace"] }

tracing = { version = "0.1", features = ["log"] }
tracing-log = { version = "0.2" }
tracing-subscriber = { version = "0.3", features = ["env-filter", "registry"] }

# Local dependencies
domain = { path = "../domain" }
migration = { path = "../../migration" }